body  {
	background-image: url("../images/background.jpg")
}
div  {
	background-color: #808080;
	margin: 10px;
	width: 25%
}
div  {
	border: solid 2px black;
	padding: 10px;
}
h1  {
	font-size: 30pt;
}
ul {
	text-indent: 20px;
}
div.header, div.skulls  {
	background-color: #778899;
}
div.header, div.instructions  {
	width: 75%;
}

.userTotal	{
	width: 15%;
	height: 60px;
}
.skullImg	{
	height: 60px;
	margin: 10px;
}

